
html{
    font-family: 'Lato', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background-color: #ffffff;
   /* background-image: url(/Imagen/Fondo.jpg);*/
    display: block;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #48A1C9;
}

.menu{
    display: flex;
    padding: 0;
    text-align: center;
}
.menu li{
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

.menu li:hover{
    /*background-color: #d1f2eb6c;*/
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.info-personal {
    display: flex;
    width: 300px;
    height: 180px;
    margin: 150px;
    padding: 15px;
    /*border-top: solid #48C9B0 5px;*/
    background-color: #48C9B0;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}

img{
    width: 500px;
    margin-top: 10px;
}

.imagen{
    display: flex;
    border-radius: 3px;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habilidades{
    display: block;
    width: 300px;
    height: 180px;
    margin: 150px;
    padding: 15px  0px 15px 30px;
    background-color: #48C9B0;
    border-radius: 3px;
    transition: 0.3s;
}

.habilidades:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-personal:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carta{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.carta:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.contenedor-carta{
    padding: 2px 16px;
}

.mis-estudios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px;
}

.balseiro{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #DC7633;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}
.morris{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #C94860;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}
.quality{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #48C9B0;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}
.cursos{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #4860C9;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}
.balseiro:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
    

.quality:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.morris:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cursos:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mi-experiencia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px;
}

.amerindia{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #33DCCB;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}

.magenta{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #DC7633;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}

.sveltia{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #99DC33;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}

.amerindia:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.magenta:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sveltia:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mi-contacto{
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-left: 800px;
}

.llamame{
    display: block;
    width: 300px;
    height: 200px;
    background-color: #DCCB33;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
    padding-top: 2px;
}

.llamame:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.blanco:hover{
    color: white;
}